<%= f.input :title %>
<div class='row'>
  <div id='scenarios' class='col-md-12'>
    <%= f.simple_fields_for :scenarios do |scenario| %>
      <%= render partial: 'scenarios/scenario_fields', locals: { f: scenario, nested: true } %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add scenario', f, :scenarios, partial: 'scenarios/scenario_fields', class: 'btn btn-default', render_options: { locals: { nested: true } } %>
    </div>
  </div>
</div>
<hr>
<%= f.button :submit, class: 'btn btn-primary' %>
